<div class="gamesfilter">

<label for="genre">Genres</label>

    <select name="genre" id="genre">
        <option value="">Select</option>
        <option value="simulator">Simulator</option>
        <option value="sport">Sport</option>
        <option value="strategy">Strategy</option>
        <option value="point-and-click">Point-and-click</option>
        <option value="fighting">Fighting</option>
        <option value="shooter">Shooter</option>
        <option value="music">Music</option>
        <option value="platform">Platform</option>
        <option value="puzzle">Puzzle</option>
        <option value="racing">Racing</option>
        <option value="real-time-strategy-rts">RTS</option>
        <option value="role-playing-rpg">RPG</option>
        <option value="turn-based-strategy-tbs">TBS</option>
        <option value="tactical">Tactical</option>
        <option value="hack-and-slash-beat-em-up">Hack and slash</option>
        <option value="quiz-trivia">Quiz/Trivia</option>
        <option value="pinball">Pinball</option>
        <option value="adventure">Adventure</option>
        <option value="indie">Indie</option>
        <option value="arcade">Arcade</option>
    </select>


</div>

 <div class="gamesfilter">

     <label for="release_dates">Release Dates</label>

     <select name="release_dates" id="release_dates">

         <option value="">Select</option>
         <option value="2019">2019</option>
         <option value="2018">2018</option>
         <option value="2017">2017</option>
         <option value="2016">2016</option>
         <option value="2015">2015</option>
         <option value="2014">2014</option>
         <option value="2013">2013</option>
         <option value="2012">2012</option>
         <option value="2011">2011</option>
         <option value="2010">2010</option>
         <option value="2009">2009</option>

     </select>

 </div>

<div class="gamesfilter">


    <label for="platform">Platform</label>

    <select name="platform" id="platform">

        <option value="">Select</option>
        <option value="xboxone">Xbox One</option>
        <option value="ps4">Playstation 4</option>
        <option value="switch">Nintendo Switch</option>
        <option value="pc">PC</option>
        <option value="mobile">Mobile</option>





    </select>




</div>

<button>Apply Filters</button>