<div>Game details</div>

<div><%= games2.name %></div>
<div><%= games2.publishers[0].name %></div>
<img src="<%= games2.cover.url.replace('t_thumb', 't_cover_big') %>" />
<p><%games2.summary%></p>
<img src="<%= games2.screenshots.url.replace('t_thumb', 't_cover_big') %>" />