<div>Game details</div>

<div><%= games[1].name %></div>
<div><%= games.publishers[0].name %></div>
<img src="<%= games.cover.url.replace('t_thumb', 't_cover_big') %>" />
<p><%games.summary%></p>
<img src="<%= games.screenshots.url.replace('t_thumb', 't_cover_big') %>" />