<title>Results Page</title>
<body>
<h1>Results Page</h1>
<table border = "2">
    <tr>
        <th>Year</th>
        <th>Name</th>
        <th>Cover</th>
        <th>IMDB Link</th>
    </tr>
</table>
</body>