


body {
  padding: 50px;
  font: 14px "Lucida Grande", Georgia, Verdana;
}

.alert-error{

  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{

  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}


.navbar {

  color: white;
  background-color: #98B6D4;
  width: 100%


}

.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


 .dropdown {
   position: relative;
   display: inline-block;
 }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 25%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}

.video{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}


.news{
  float: left;
  width: 20%;
  padding: 5px;

}

.news2{
  float: left;
  width: 20%;
  padding: 5px;

}

.coming_soon{
  float: left;
  width: 20%;
  padding: 5px;

}
h3 {
  text-decoration: underline;
}



.searchbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;

}

.footer{
  color: white;
  background-color: #98B6D4;
  height: 105px;

}

.jumbotron {




}

#favourites-table{
  position: relative;
  width: 95%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#favourites-table form:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

#favourites-table ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#favourites-table li{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: Verdana;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}