<div>Game Details Page</div>

<h3 class="display-4">Test</h3>
<div class="row">


    <div class="column" >

        <img src="<%= games.cover.url.replace('t_thumb', 't_cover_big') %>" />





    </div>
</div>