
<html>
<head>

    <title>Responsive Web App</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>

    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/maincontroller.js"></script>
    <script src="/javascripts/controllers/gamescontroller.js"></script>
    <script src="/javascripts/controllers/gamescontroller.js"></script>
    <script src="/javascripts/controllers/registrationcontroller.js"></script>
    <script src="/javascripts/controllers/logincontroller.js"></script>





    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>