<form class="form-horizontal" action="/settings" method="POST">
    <h2 class="form-signin-heading">Change Password</h2>

    <label for="inputEmail" class="sr-only">New Password</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="New Password" required autofocus>

    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Confirm Password" required>

    <br/>

    <button class="btn btn-lg btn-default btn-block" type="submit">Confirm</button>
</form>


<form class="form-horizontal" action="/settings" method="POST">
    <h2 class="form-signin-heading">Change Username</h2>

    <label for="inputEmail" class="sr-only">New Username</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="New Username" required autofocus>

    <label for="inputPassword" class="sr-only">Confirm Username</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Confirm Username" required>

    <br/>

    <button class="btn btn-lg btn-default btn-block" type="submit">Confirm</button>
</form>