<!--suppress ALL -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Home Page</h1>
        <p class="lead">This is the home page.</p>
    </div>
</div>

        <h3 class="display-4">Recent games</h3>
<div class="container mx-auto flex flex-col md:flex-row">
    <div class="w-full md:w-1/4 -mt-16">


            <img :src="response.cover.url.replace('t_thumb', 't_cover_big')" alt="cover">
            <div class="text-black font-semibold text-lg overflow-hidden whitespace-no-wrap overflow-dots">{{ response.name }}</div>
            <div class="text-grey-darker text-base overflow-hidden whitespace-no-wrap overflow-dots pb-1">{{ response.genres[0].name }}</div>
        </div>

    </div>




        <h3 class="display-4">Recently reviewed</h3>
        <div class = "col-sm-5ths slick side slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1" style="width: 225px;">

        </div>

        <h3 class="display-4">Media</h3>

        <div class = "col-sm-5ths slick side slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1" style="width: 225px;">

        </div>



<script src = "index.js"></script>

    </div>
</div>
    </div>